<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>SentiLab NCKU</title>

	<!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="static/img/favicon.ico">

	<!-- Web Fonts -->
<link href='https://fonts.googleapis.com/css?family=Ek+Mukta:400,600,700' rel='stylesheet' type='text/css'>	<link href='https://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>

	<!-- CSS Global Compulsory -->
  <link rel="stylesheet" href= "{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static', filename='css/app.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static', filename='css/blocks.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static', filename='css/one.style.css') }}">

	<!-- CSS Footer -->
	<link rel="stylesheet" href= "{{ url_for('static', filename='css/footer-v2.css') }}">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/animate.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/line-icons/line-icons.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/font-awesome/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/owl-carousel2/static/owl.carousel.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/hover-effects/css/custom-hover-effects.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/sky-forms-pro/skyforms/css/sky-forms.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/pace/pace-flash.css') }}">

  <!-- CSS Theme -->
  <link rel="stylesheet" href= "{{ url_for('static', filename='css/courses.style.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static', filename='css/global.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static', filename='css/lawyer.style.css') }}">

  <!-- CSS Customization -->
  <link rel="stylesheet" href= "{{ url_for('static', filename='css/custom.css') }}">
</head>

<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery font-main promo-padding-top">
	<main class="wrapper">
		<!-- Header -->
		<nav class="header one-page-header navbar navbar-default navbar-fixed-top courses-header one-page-nav-scrolling one-page-nav__fixed" data-role="navigation">
			<div class="container-fluid g-pr-40 g-pl-40">
				<div class="menu-container page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="/">
						<img class="img-responsive" src="static/img/logo.png" alt="Logo">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse g-pt-25">
					<div class="menu-container">
						<ul class="nav navbar-nav">
							<li class="page-scroll home nav__text">
								<a href="/">Home</a>
							</li>
							<li class="page-scroll nav__text">
								<a href="/about">About</a>
							</li>
							<li class="page-scroll nav__text">
								<a href="/sentianalysis">Senti Analysis</a>
							</li>
							<li class="page-scroll nav__text">
								<a href="/graph">Graph</a>
							</li>
							<li class="page-scroll nav__text">
								<a href="/references">References</a>
							</li>
							<li class="page-scroll nav__text g-sm-mb-20">
								<a href="/contact">Contact</a>
							</li>
							<li class="clearfix">
								<ul class="list-inline hidden-md pull-md-right nav__socials">
									<li>
										<a href="#" class="nav__social g-ml-15 g-sm-ml-0">
											<i class="icon-custom icon-sm rounded-x fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#" class="nav__social">
											<i class="icon-custom icon-sm rounded-x fa fa-facebook"></i>
										</a>
									</li>
								</ul>
							</li>
						</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
		<!-- End Header -->

		<!-- About -->
				<!-- about section -->
		<section id="about">
			<div class="container g-pt-100 g-pb-30">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<div class="g-heading-v9 text-center g-mb-30">
							<h2 class="text-uppercase"><strong>Meet our Members</strong></h2>
						</div>
						<p class="g-fs-16 text-center g-mb-70">The authors of this website.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-3xs-12 lawyer-post g-mb-50">
						<img class="img-responsive full-width g-mb-25" src="static/img-temp/blog/flickr.com__photos__ter-burg__9216004446__sizes__k.jpg" alt="">
						<p class="g-fs-10 g-theme-text-color-1"><strong>Graduate Institute of Finance</strong></p>
						<h5 class="text-uppercase"><strong>Robert Chuang</strong></h5>
						<p class="g-fs-10 text-uppercase">Twitter data parsing</p>
						<p>Sed feugiat porttitor nunc, non dignissim ipsum  vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel.</p>
						<p class="g-mt-30"><a class="btn-u btn-u-lg btn-u-red btn-u-upper" href="#">Read more</a></p>
					</div>
					<div class="col-xs-4 col-3xs-12 lawyer-post g-mb-50">
						<img class="img-responsive full-width g-mb-25" src="static/img-temp/blog/isorepublic.com___helical-walkway.jpg" alt="">
						<p class="g-fs-10 g-theme-text-color-1"><strong>Department of Computer Science and Information Engineering</strong></p>
						<h5 class="text-uppercase"><strong>蔡侑軒</strong></h5>
						<p class="g-fs-10 text-uppercase">Python</p>
						<p>Fusce vel aliquet arcu. Aenean malesuada a sem sed facilisis. Maecenas aliquam faucibus metus, nec auctor est.</p>
						<p class="g-mt-30"><a class="btn-u btn-u-lg btn-u-red btn-u-upper" href="#">Read more</a></p>
					</div>
					<div class="col-xs-4 col-3xs-12 lawyer-post g-mb-50">
						<img class="img-responsive full-width g-mb-25" src="static/img-temp/blog/tkLOe7nnQ7mnMsiuijBy_hm.jpg" alt="">
						<p class="g-fs-10 g-theme-text-color-1"><strong>Department of Psychology</strong></p>
						<h5 class="text-uppercase"><strong>Patricia Chuang</strong></h5>
						<p class="g-fs-10 text-uppercase">Website</p>
						<p>Fusce vel aliquet arcu. Aenean malesuada a sem sed facilisis. Maecenas aliquam faucibus metus, nec auctor est.</p>
						<p class="g-mt-30"><a class="btn-u btn-u-lg btn-u-red btn-u-upper" href="#">Read more</a></p>
					</div>
				</div>
			</div>
		</section>
		<!-- End About -->

	</main>

	<!-- JS Global Compulsory -->

	<script src= "{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
	<script src= "{{ url_for('static', filename='plugins/jquery/jquery-migrate.min.js') }}"></script>
	<script src= "{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>

	<!-- JS Implementing Plugins -->
	<script src= "../static/plugins/smoothScroll.js"></script>
	<script src="../static/plugins/jquery.easing.min.js"></script>
	<script src="../static/plugins/pace/pace.min.js"></script>
	<script src="../static/plugins/owl-carousel2/owl.carousel.min.js"></script>
	<script src="../static/plugins/counter/waypoints.min.js"></script>
	<script src="../static/plugins/counter/jquery.counterup.min.js"></script>
	<script src="../static/plugins/circles-master/circles.min.js"></script>
	<script src="../static/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
	<script src="../static/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	<script src="../static/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
	<script src="../static/plugins/modernizr.js"></script>

	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&amp;callback=initMap" async defer></script><script src="static/js/plugins/gmaps-ini.js"></script>

	<!-- JS Page Level-->
	<script src="../static/js/one.app.js"></script>
	<script src="static/js/plugins/owl2-carousel-v1.js"></script>
	<script src="static/js/plugins/owl2-carousel-v2.js"></script>
	<script src="static/js/plugins/owl2-carousel-v3.js"></script>
	<script src="static/js/plugins/owl2-carousel-v4.js"></script>
	<script src="static/js/plugins/owl2-carousel-v5.js"></script>
	<script src="static/js/plugins/cube-portfolio.js"></script>
	<script src="static/js/plugins/gmaps-ini.js"></script>
	<script src="static/js/forms/contact.js"></script>
	<script>
		$(function() {
			App.init();
			App.initCounter();
			Owl2Carouselv1.initOwl2Carouselv1();
			Owl2Carouselv2.initOwl2Carouselv2();
			Owl2Carouselv3.initOwl2Carouselv3();
			Owl2Carouselv4.initOwl2Carouselv4();
			Owl2Carouselv5.initOwl2Carouselv5();
			ContactForm.initContactForm();
		});
	</script>
	<!--[if lt IE 10]>
	  <script src="../static/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
	<![endif]-->
</body>
</html>
