<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<link rel="stylesheet" href={{cdn_css | safe}} type="text/css" />
	<script type="text/javascript" src={{cdn_js | safe}}></script>

	<title>SentiLab NCKU</title>

	<!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="static/img/favicon.ico">

<!--<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/funnel.js"></script>-->
<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>

	<!-- Web Fonts -->
<link href='https://fonts.googleapis.com/css?family=Ek+Mukta:400,600,700' rel='stylesheet' type='text/css'>	<link href='https://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>

	<!-- CSS Global Compulsory -->
  <link rel="stylesheet" href= "{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static', filename='css/app.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static', filename='css/blocks.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static', filename='css/one.style.css') }}">

	<!-- CSS Footer -->
	<link rel="stylesheet" href= "{{ url_for('static', filename='css/footer-v2.css') }}">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/animate.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/line-icons/line-icons.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/font-awesome/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/owl-carousel2/static/owl.carousel.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/hover-effects/css/custom-hover-effects.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/sky-forms-pro/skyforms/css/sky-forms.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='plugins/pace/pace-flash.css') }}">

  <!-- CSS Theme -->
  <link rel="stylesheet" href= "{{ url_for('static', filename='css/courses.style.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static', filename='css/global.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static', filename='css/lawyer.style.css') }}">

  <!-- CSS Customization -->
  <link rel="stylesheet" href= "{{ url_for('static', filename='css/custom.css') }}">
</head>

<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery font-main promo-padding-top">
	<main class="wrapper">
		<!-- Header -->
		<nav class="header one-page-header navbar navbar-default navbar-fixed-top courses-header one-page-nav-scrolling one-page-nav__fixed" data-role="navigation">
			<div class="container-fluid g-pr-40 g-pl-40">
				<div class="menu-container page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="/">
						<img class="img-responsive" src="static/img/logo.png" alt="Logo">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse g-pt-25">
					<div class="menu-container">
						<ul class="nav navbar-nav">
							<li class="page-scroll home nav__text">
								<a href="/">Home</a>
							</li>
							<li class="page-scroll nav__text">
								<a href="/about">About</a>
							</li>
							<li class="page-scroll nav__text">
								<a href="/sentianalysis">Senti Analysis</a>
							</li>
							<li class="page-scroll nav__text">
								<a href="/graph">Graph</a>
							</li>
							<li class="page-scroll nav__text">
								<a href="/references">References</a>
							</li>
							<li class="page-scroll nav__text g-sm-mb-20">
								<a href="/contact">Contact</a>
							</li>
							<li class="clearfix">
								<ul class="list-inline hidden-md pull-md-right nav__socials">
									<li>
										<a href="#" class="nav__social g-ml-15 g-sm-ml-0">
											<i class="icon-custom icon-sm rounded-x fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#" class="nav__social">
											<i class="icon-custom icon-sm rounded-x fa fa-facebook"></i>
										</a>
									</li>
								</ul>
							</li>
						</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
		<!-- End Header -->


		<!-- Senti Analysis -->
		<h1>Inquire sentiment graph</h1>
		<form action = '/sentianalysis' method = 'GET'>
			<input type = 'text' name = 'keyWords' placeholder = 'type any words'>
			<input type = 'text' name = 'number' placeholder = 'number of tweets'>
			<input type = 'text' name = 'since' placeholder = 'from 2016-01-xx'>
			<input type = 'text' name = 'until' placeholder = 'to 2016-01-xx'>
			<input type = 'submit' name = 'inquiry' value = 'inquire'>
		</form>
		{{script1 | safe}}
    {{div2 | safe}}

		<!-- End sentianalysis -->


	</main>

	<!-- JS Global Compulsory -->

	<script src= "{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
	<script src= "{{ url_for('static', filename='plugins/jquery/jquery-migrate.min.js') }}"></script>
	<script src= "{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>

	<!-- JS Implementing Plugins -->
	<script src= "../static/plugins/smoothScroll.js"></script>
	<script src="../static/plugins/jquery.easing.min.js"></script>
	<script src="../static/plugins/pace/pace.min.js"></script>
	<script src="../static/plugins/owl-carousel2/owl.carousel.min.js"></script>
	<script src="../static/plugins/counter/waypoints.min.js"></script>
	<script src="../static/plugins/counter/jquery.counterup.min.js"></script>
	<script src="../static/plugins/circles-master/circles.min.js"></script>
	<script src="../static/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
	<script src="../static/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	<script src="../static/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
	<script src="../static/plugins/modernizr.js"></script>

	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&amp;callback=initMap" async defer></script><script src="static/js/plugins/gmaps-ini.js"></script>

	<!-- JS Page Level-->
	<script src="../static/js/one.app.js"></script>
	<script src="static/js/plugins/owl2-carousel-v1.js"></script>
	<script src="static/js/plugins/owl2-carousel-v2.js"></script>
	<script src="static/js/plugins/owl2-carousel-v3.js"></script>
	<script src="static/js/plugins/owl2-carousel-v4.js"></script>
	<script src="static/js/plugins/owl2-carousel-v5.js"></script>
	<script src="static/js/plugins/cube-portfolio.js"></script>
	<script src="static/js/plugins/gmaps-ini.js"></script>
	<script src="static/js/forms/contact.js"></script>
	<script>
		$(function() {
			App.init();
			App.initCounter();
			Owl2Carouselv1.initOwl2Carouselv1();
			Owl2Carouselv2.initOwl2Carouselv2();
			Owl2Carouselv3.initOwl2Carouselv3();
			Owl2Carouselv4.initOwl2Carouselv4();
			Owl2Carouselv5.initOwl2Carouselv5();
			ContactForm.initContactForm();
		});
	</script>
	<!--[if lt IE 10]>
	  <script src="../static/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
	<![endif]-->
</body>
</html>
